@model BlogMVC.Models.Transfer.UserDto

/Authz
@using (Html.BeginForm(actionName: "Login", controllerName: "Auth", method: FormMethod.Post))
{

    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(model => model.Name)
        <input type="text" name="name" />
    </div>
    <div>
        @Html.LabelFor(model => model.Password)
        <input type="password" name="password" />
    </div>
    <div>
        <button class="button" type="submit">Login</button>
    </div>
}
